@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #28bf96;
    --primary-color-dark: #206977;
    --text-dark: #111827;
    --text-light: #6b7280;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #040f16;
}

.container {
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
}

.nav__logo {
  
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__logo img {
    max-width: 50px;
    clip-path: circle(50%);
}

.nav__logo span {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    justify-items: center;
}

.nav__links-container {
    flex-grow: 1;
    text-align: center;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    transform: translate(22%, 2%);
}

.link a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: 500;
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.button2 {
    padding: 9px 30px;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.button2:hover {
    background: var(--primary-color-dark);
    cursor: pointer;
   
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    gap: 2rem;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

.content h1 span {
    font-weight: 400;
    color: #a5a1a1;
}

.content p {
    margin-bottom: 2rem;
    color:#ffffff;
    line-height: 1.75;
}

.content p span {
    font-weight: 700;
    color: #28bf96;
}

.button {
    padding: 10px 20px;
    background: #a1ff14;
    border: none;
    border-radius: 30px;
    color: #131313;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.button:hover {
    background: #45bb72;
}

.image {
    position: relative;
    text-align: center;
    flex-shrink: 0;
}

.image__bg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-image: url(./2.icon.ico);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    z-index: -1;
}

.image img {
    max-width: 450px;
    transform: translate(-50%, -5%)
}

.image__content__image__content__1 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translate(-275%, -350%);
}
.image__content__image__content__2{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    padding: 0.6rem 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translate(-260%, -370%);
}
.details h4 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-dark);
}
.details p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-light);
}
.card {
    position: absolute;
    top: 77%;
    left: -165%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    
    
  }
  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
  }
  /* Tiktok*/
  .containerTwo:hover {
    background-color: #25f4ee;
    transition-duration: 0.3s;
  }
  /* Facebook*/
  .containerThree:hover {
    background-color: #1877f2;
    transition-duration: 0.3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: green;
    transition-duration: 0.3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
  }
  
  .socialSvg {
    width: 19px;
  }
  .largeIcon {
    width: 27px; /* Ancho específico solo para el icono de TikTok */
  }
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.about {
  padding: 5rem 0;
 
  color: #ffffff; /* لون النص الافتراضي أبيض */
}

.about__contient h2 {
  color: #29ca8d; /* لون كلمة "About Us" أبيض */
  font-size: 2.5rem; /* حجم الخط */
  font-weight: 700; /* سمك الخط */
  text-align: left; /* محاذاة النص لليسار */
  margin-bottom: 3rem; 
}

.section__subheader {
  color: #d1d5db; /* لون النص الفقري */
  font-size: 1.1rem; /* حجم النص */
  line-height: 1.75; /* ارتفاع السطر */
  margin-bottom: 2rem; /* مسافة أسفل النص */
}

.about__flex {
  display: flex;
  justify-content: space-between; /* توزيع العناصر بالتساوي */
  gap: 1.5rem; /* الفجوة بين البطاقات */
  margin-bottom: 0.2rem; /* مسافة أسفل البطاقات */
  transform: translate(-20%, -30%)scale(60%);
  background-color:#040f16;
  border-radius: 3rem;
}

.about__card {
  flex: 1;
  color: #ffffff; /* لون النص أبيض */
  padding: 2rem;
  border-radius: 0.5rem; /* حواف مستديرة للبطاقات */
  text-align: center; /* محاذاة النص في وسط البطاقة */
  
}

.about__card p{
  font-size: 200%;
  font-weight: 500;
  color: #a1a1aa; 
}
.about__card h4 {
  font-size: 2rem; /* حجم النص في البطاقات */
  margin-bottom: 0.5rem; /* مسافة أسفل النص */
}
.about__image {
  text-align: center; /* محاذاة الصورة في وسط القسم */
}

.about__image img {
  max-width: 100%; 
  height: auto; 
  border-radius: 1rem; 
  transform: translate(85%, -165%);
}


.about__flex{
  margin: 2rem 0;
  padding: 2rem 1rem;
  display: flex;
  align-items: left;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #111827;
}
.about__card{
flex: 1 1 150px;
text-align: center;
border-right:2px solid var(--primary-color) ;
}
.about__card:last-child{
  border: none;
}
.about__card h4{
  margin-bottom: 5px ;
  font-size: 3rem;
  font-weight: 600;
  
}
.about__image img{
  max-width: 450px;
  margin: auto;
}
/* تصميم متجاوب */
@media (max-width: 768px) {
    .menu-toggle {
        width: 100px;
        height: 35px;
        border-radius: 5px;
        border: none;
        transition: all 0.5s ease-in-out;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight:bold;
        display: flex;
        align-items:center;
        background: #040f16;
        color: var(--primary-color-dark);
        margin-left: -5%;
        padding-left: -800px;
        padding-right: -900px;
        transform: translate(5%, 1%);
      }
      
      .menu-toggle:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;
      }
      .image__bg{
        transform: translate(-15%,-40%);
      }
      .image img{
        
        transform: translate(-25%,10%)scale(120%);
      }
      .menu-toggle .icon {
        position: absolute;
        height: 20px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        color: var(--text-dark);
      }
      
      .menu-toggle .text {
        transform: translateX(40px)translateY(-1px);
      }
      
      .menu-toggle:hover .icon {
        width: 175px;
        color: #040f16;
      }
      
      .menu-toggle:hover .text {
        transition: all 0.5s;
        opacity: 0;
      }
      
      .menu-toggle:focus {
        outline: none;
      }
      
      .menu-toggle:active .icon {
        transform: scale(0.85);
      }

    .nav__links-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 35%;
        width: 100%;
        background: #040f16;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
.image__content__image__content__1{
display: flex;
transform: translate(-175%, -150%)scale(77%);
}
    .nav__links {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
    }
    .image__content__image__content__2{
        display: flex;
        transform: translate(-170%, -70%)scale(77%);
    }

    .nav__links-container.active {
        display: block;
        
    }
    .button {
        transform: translate(15%, -50%);
    }
    .header {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .image img {
        max-width: 200px;
    }

    .image__bg {
        height: 300px;
        width: 300px;
    }
    .card {
        display: flex;
        transform: translate(90%, -255%)scale(50%);
    
    }
    .about__flex{
      transform: translate(-12%, -20%)scale(70%);
    }
    .about__image img{
      transform: translate(-2%, -55%) scale(90%);
    }
  }

